<h2>Admin Home</h2>
<ul>
    <li><a asp-area="Admin" asp-controller="Locations" asp-action="Index">Manage Locations</a></li>
    <li><a asp-area="Admin" asp-controller="Residences" asp-action="Index">Manage Residences</a></li>
    <li><a asp-area="Admin" asp-controller="Users" asp-action="Index">Manage Users</a></li>
</ul>
