@model IEnumerable<Experience>

@{
    ViewData["Title"] = "Experience List";
}

<h2>Experience List</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th class="text-end">Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var e in Model)
    {
        <tr>
            <td>@e.Title</td>
            <td class="text-end">@e.Price.ToString("c")</td>
            <td class="text-end">
                <a class="btn btn-info btn-sm"
                   asp-action="Details" asp-route-id="@e.ExperienceId">View Details</a>
            </td>
        </tr>
    }
    </tbody>
</table>
